@import "tailwindcss";
.hero {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@keyframes slowspin {
  0% {
    background: #2563eb;
  }
  50% {
    background: #facc15;
  }
  100% {
    background: #2563eb;
  }
}

.animate-color {
  animation: colorRotate 3s linear infinite;
}